[tool.poetry]
name = "python-base-template"
version = "0.1.0"
description = "Project description"
authors = ["Raman <roman.s@p2p.org>"]
license = "MIT License"
readme = "README.md"
include = [
    "LICENSE",
]

[tool.poetry.dependencies]
python = ">=3.7.10,<4"
prometheus-client = "^0.13.1"
requests = "^2.27.1"

[tool.poetry.dev-dependencies]
pytest = "7.1.1"
